@use 'src/styles/vars';

.currencies{
  background-color: #fff;
  color: vars.$mainColor;
  font-size: 1.2rem;
  text-align:left;
  overflow-y: scroll;
  height:20rem;

  .currencies-title{
    font-weight: bold;
    padding:1rem 0 1rem 1rem;
  
  }
  .currency{
    border-top: solid vars.$mainColor 1px;
    padding:1rem 0 1rem 1rem;
    transition: background-color vars.$slowTransition;
    
  }

  .currency:hover{
    background-color: vars.$alternativeColor;
    transition: background-color vars.$fastTransition;


  }
  
}
// .scroller {
//   overflow-y: scroll;
//   height:20rem;
// }
